@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color:#f8f9fb;
}

.navbar a{
  text-decoration: none;
  color: black;
}

.navbar .logo{
  font-weight: bold;
  margin-left: 10%;
  padding: 10px;
}

.input-email button{
  padding: 10px 20px;
  background-color: #017bff;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

.content .input-email button:hover{
  border: solid 2px #017bff;
  background: transparent;
  color: white;
}

.content .input-email input{
  padding: 10px 100px 10px 10px;
  font-size: 20px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.content .input-email input:focus{
  outline: solid 2px #017bff;
}

.navbar .btn{
  background-color:#017bff;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  margin-right: 10%;
}

.content{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.content p{
  font-size: 45px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

.navbar .btn:hover{
  border: solid 2px #017bff;
  background: transparent;
  color: black;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px;
  flex-wrap: wrap;
}

.container .card .img{
  width: 70px;
  height: 70px;
}

.container .card{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 30px;
  margin: 15px;
}

.container .card h3, p{
  text-align: center;
}

.container .card h3{
  margin-top: 10px;
}

.container .card p{
  margin-top: 5px;
}

.container .card:hover{
  background-color:#E0F4FF;
}